---
pagination:
  data: squidex.queryPageContents
  size: 1
permalink: "{% if lang != \"en\" %}/{{lang}}{% endif %}{% if pagination.items[0].flatData.type != \"page\" %}/{{ pagination.items[0].flatData.type }}{% endif %}{% if pagination.items[0].flatData.slug != empty %}/{{ pagination.items[0].flatData.slug | slugify }}{% endif %}/"
lang: "fr"
collection: "Page"

---
{% assign state_itg3_pagination = pagination %}
{% assign state_itg3_items = pagination.items %}
{% assign state_itg3_pages = pagination.pages %}<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/page-5775005a73d672a3c408d9ba1e5a1632020b2d07f537f9ca9d8c90055ae52bc0.css" />
{% assign url = "https://next.silex.me" %}

<meta name="viewport" content="width=device-width"><meta charset="UTF-8">

<!--  font google -->
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap" rel="stylesheet">

<script data-concat>
// mark links which lead to current page
window.addEventListener('load', function() {
    // Get the current page URL
    const currentUrl = window.location.href;

    // Find all links with the 'data-current-class' attribute
    const links = document.querySelectorAll('a[data-current-class]');

    // Iterate over each link
    links.forEach(link => {
        // Get the URL from the 'href' attribute of the link
        const linkUrl = link.href;

        // Get the class name from the 'data-current-class' attribute
        const className = link.getAttribute('data-current-class');

        // Check if the link URL is the same as the current page URL
        if (linkUrl === currentUrl) {
            // Add the class to the link element
            link.classList.add(className);
        } else {
            link.classList.remove(className);
        }
    });
});  
</script>
<style data-concat>
  /* responsive fonts */
  @media (max-width: 992px) {
    html { font-size: 1.5em; }
  }
  /* hamburger menu */
  .mobile-menu-checkbox + .mobile-menu {
	display: none;
  }
  .mobile-menu-checkbox:checked + .mobile-menu {
	display: initial;
  }
  html, body {
 	scroll-behavior: smooth;
  }

  body,
  p,
  h1,
  h2,
  h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
  }
  .uppercase{
    text-transform: uppercase;
  }
  .link {
    text-decoration: none;
  }
  .nonunderline a, a.nonunderline{
    text-decoration: none;
  }
  h5, h6 {
    text-transform: uppercase;
  }
  img {
    height: 100%;
 	max-width: 100%;
  }
  .z-index10 {
    z-index: 10;
  }
  .z-index-10 {
    z-index: -10;
  }
  /* anchors */
  .has-anchor {
    scroll-margin: 30px;
  }
  .has-anchor a {
    text-decoration: none;
  }
  .has-anchor:hover a {
    text-decoration: underline;
  }
  .has-anchor:hover::before {
    content: "🔗\00a0";
    display: inline;
    font-size: 0.5em;
	position: absolute;
  	transform: translateX(-30px);
  }

  section:nth-of-type(2n) .alternate-in-section {
    flex-direction: row-reverse;
  }
  @media (max-width: 992px) {
  section:nth-of-type(2n) .alternate-in-section {
    flex-direction: column-reverse;
  }
}
  /* for colors being applied to a, links*/
  .text-color-363063 *, .text-color-808080 *, a {
    color: inherit;
  }
  .bg-gradient {
    background: linear-gradient(-45deg, #FFF6FA, #ffffff);
  }
  /*BG+blueprint-pattern*/
  .bg-gradient-blue-pattern{
    background: url("/cms/assets/1101fc1c-0958-4238-83d1-37e4a1f9bf87.svg") center/auto repeat, linear-gradient(90deg, #1775CB, #1465AF);
  }
  /*CTA*/
  .cta{
    text-transform: uppercase;
    text-decoration: none;
    break-inside: avoid;
  }
  a.cta:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 100%;
    height: 2px;
    bottom: 10%;
    background-color: white;
    transition: height 0.2s ease-in-out, bottom 0.2s ease-in-out, width 0.2s ease-in-out;
  }
  a.cta:hover{
    z-index: 10;
    color: inherit;
  }
  a.cta:hover:after{
    position: relative;
    z-index: -1;
    padding:0 10px;
    margin:0 10px 0 -10px;
    bottom: 28px;
    height: 100%;
  }
  /*marche juste pour flex*/
  a.cta:hover:after{
    position: relative;
    z-index: -1;
    padding:0 10px;
    margin:0 10px 0 -10px;
    bottom: 28px;
    height: 100%;
  }
  /*CTA*/
  /*CTA-BTN*/
  .cta-btn {
    break-inside: avoid;
    position: relative;
    text-transform: uppercase;
    border-radius:99px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  .cta-btn:after{
    content: "";
    position: absolute;
    z-index: -1;
    display: inline-block;
    border-radius:99px;
    width: 0%;
    height:0%;
    left:50%;
    transition: height 0.2s ease-in-out, bottom 0.2s ease-in-out, width 0.2s ease-in-out, left 0.2s ease-in-out;
  }
  .cta-btn:hover {
    color: inherit;
    z-index: 10;
  }
  .cta-btn:hover:after{
    width: 100%;
    height:100%;
    left:0;
    bottom:0;
    background-color: white;
  }
  /*CTA version colored*/
  a.cta.text-color-FF557A:after {
    background: linear-gradient(to right, #ff557a 0%, #FF6985 75%, #FFA2A2 100%);
  }
  /*CTA version colored*/
  /*CTA-BTN version colored*/
  .cta-btn.text-color-FF557A{
    background-image: linear-gradient(white, white), linear-gradient(to right, #72BEFB 0%, #8096F8 25%, #DD71BC 75%, #FF557A 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
  .cta-btn.text-color-FF557A.text-color-FFFBFC{
    background-image: linear-gradient(#fffafb, #fff9fb), linear-gradient(to right, #72BEFB 0%, #8096F8 25%, #DD71BC 75%, #FF557A 100%);
  }
  .cta-btn.text-color-FF557A:hover:after{
    background-image: linear-gradient(to right, #72BEFB 0%, #8096F8 25%, #DD71BC 75%, #FF557A 100%), linear-gradient(to right, #72BEFB 0%, #8096F8 25%, #DD71BC 75%, #FF557A 100%);
  }
  /*CTA-BTN version colored*/
  /*cta-btn-ico NETWORK*/
  .cta:hover, .cta-btn:hover, .cta-btn-ico:hover, .cta-btn-mini-ico:hover {
    transform: scale(1.1);
    transition: transform 0.2s cubic-bezier(0, -0.530, 0.405, 2.8);
  }
  .cta:hover {
    transform: scale(1.1) translateY(10px);
  }
  a.cta-btn-ico .h5:after{
    content: "";
    position: relative;
    display: inline-block;
    width: 100%;
    height: 2px;
    bottom: 8px;
    background-color: white;
    transition: height 0.2s cubic-bezier(0, -0.530, 0.405, 1.8), bottom 0.2s cubic-bezier(0, -0.530, 0.405, 1.8), width 0.2s cubic-bezier(0, -0.530, 0.405, 1.8);
  }
  a.cta-btn-ico:hover .h5{
    color: inherit;
    z-index: 10;
    margin: 10px 0 -14px 0;
  }
  a.cta-btn-ico:hover .h5:after{
    position: relative;
    z-index: -1;
    padding:0 8px;
    margin:0 -5px 0 -10px;
    bottom: 20px;
    height: 22px;
  }
  a.cta-btn-ico .app-ico-cont .app-ico {
    transform: scale(0.85);
    transition: transform 0.2s cubic-bezier(0, -0.530, 0.405, 2.8);
  }
  a.cta-btn-ico:hover .app-ico-cont .app-ico {
    transform: scale(1.1);
  }
  /*cta-btn-ico NETWORK*/
  .network-cont {
    width: fit-content;
  }
  /*cta-btn-mini-ico*/
  a.cta-btn-mini-ico .app-ico{
    transform: scale(0.85);
    transition: transform 0.2s cubic-bezier(0, -0.530, 0.405, 2.8);
  }
  a.cta-btn-mini-ico:hover .app-ico{
    transform: scale(1.1);
  }
  /*cta-btn-mini-ico*/
  /*GRID*/
  /*avoid break column elements*/
  .grid-2 *,
  .grid-4 * {
    overflow: hidden;
    /* fix for Firefox */
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
  }
  .grid-2 {
    column-count: 2;
  }
  .grid-4 {
    column-count: 4;
    column-gap: 0px;
  }
  @media (max-width: 992px) {
    .grid-2 {
      column-count: 1;
    }
  }
  .grid-gap {
    column-gap: 10rem;
  }
  /*GRID*/
  /*squares*/
  .square h4 {
    transition: color 0.2s ease-in-out;
  }
  .square:hover .h4 {
    color:#ff557a}
  .square:hover p {
    color:#363063}
  /*.multicolored-border*/
  .multicolored-border {
    background: linear-gradient(45deg, #F9F9F9, #ffffff) 50% 50%/calc(100% - 1%) calc(100% - 1%) no-repeat, linear-gradient(-45deg, #D9D9D9 0%, #D9D9D9 100%);
    transition: background 0.2s cubic-bezier(0, -0.530, 0.405, 2.8);
  }
  .multicolored-border:hover {
    background: linear-gradient(45deg, #FFF0F4, #ffffff) 50% 50%/calc(100% - 8%) calc(100% - 8%) no-repeat, linear-gradient(45deg, #72befb 0%, #8096f8 25%, #dd71bc 75%, #ff557a 100%);
    transition: background 0.2s cubic-bezier(0, -0.530, 0.405, 2.8);
    animation: gradient .5s linear infinite;
    animation-delay: 0.1s;
  }
  /*gradient animation*/
  @keyframes gradient {
    0% {
      background: linear-gradient(0deg, #FFF0F4, #ffffff) 50% 50%/calc(100% - 8%) calc(100% - 8%) no-repeat, linear-gradient(0deg, #72befb 0%, #8096f8 25%, #dd71bc 75%, #ff557a 100%);
    }
    50% {
      background: linear-gradient(0deg, #FFF0F4, #ffffff) 50% 50%/calc(100% - 8%) calc(100% - 8%) no-repeat, linear-gradient(180deg, #72befb 0%, #8096f8 25%, #dd71bc 75%, #ff557a 100%);
    }
    100% {
      background: linear-gradient(0deg, #FFF0F4, #ffffff) 50% 50%/calc(100% - 8%) calc(100% - 8%) no-repeat, linear-gradient(590deg, #72befb 0%, #8096f8 25%, #dd71bc 75%, #ff557a 100%);
    }
  }
  /*gradient animation*/
  /*ease-back animation*/
  .ease-back:hover p {
    transform: scale(1.1);
    transition: transform 0.2s cubic-bezier(0, -0.530, 0.405, 2.8);
  }
  /*ease-back animation*/
  /*squares*/
  /*ROTATING TITLES*/
  .cd-headline {
    line-height: 1.2;
    margin: 0 0 10px 0;
  }
  .cd-words-wrapper {
    display: inline-block;
    position: relative;
  }
  @media only screen and (max-width: 450px) {
    .cd-words-wrapper b {
      padding: 0;
    }
  }
  .cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    padding: 0.1rem 1.5rem;
    background-color: #FF557A;
    font-size:3.5rem!important;
  }
  @media (max-width: 480px) {
    .cd-words-wrapper b {
      white-space: initial;
    }
  }
  .cd-words-wrapper b.is-visible {
    position: relative;
  }
  .no-js .cd-words-wrapper b {
    opacity: 0;
  }
  .no-js .cd-words-wrapper b.is-visible {
    opacity: 1;
  }
  .cd-headline.slide span {
    display: inline-block;
    padding: .2em 0.5em;
  }
  .cd-headline.slide .cd-words-wrapper {
    overflow: hidden;
    vertical-align: top;
  }
  .cd-headline.slide b {
    opacity: 0;
    top: .2em;
  }
  .cd-headline.slide b.is-visible {
    top: 0;
    opacity: 1;
    -webkit-animation: slide-in 0.6s;
    -moz-animation: slide-in 0.6s;
    animation: slide-in 0.6s;
  }
  .cd-headline.slide b.is-hidden {
    -webkit-animation: slide-out 0.6s;
    -moz-animation: slide-out 0.6s;
    animation: slide-out 0.6s;
  }
  @-webkit-keyframes slide-in {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-100%);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateY(20%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
    }
  }
  @-moz-keyframes slide-in {
    0% {
      opacity: 0;
      -moz-transform: translateY(-100%);
    }
    60% {
      opacity: 1;
      -moz-transform: translateY(20%);
    }
    100% {
      opacity: 1;
      -moz-transform: translateY(0);
    }
  }
  @keyframes slide-in {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateY(20%);
      -moz-transform: translateY(20%);
      -ms-transform: translateY(20%);
      -o-transform: translateY(20%);
      transform: translateY(20%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @-webkit-keyframes slide-out {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
    }
    60% {
      opacity: 0;
      -webkit-transform: translateY(120%);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(100%);
    }
  }
  @-moz-keyframes slide-out {
    0% {
      opacity: 1;
      -moz-transform: translateY(0);
    }
    60% {
      opacity: 0;
      -moz-transform: translateY(120%);
    }
    100% {
      opacity: 0;
      -moz-transform: translateY(100%);
    }
  }
  @keyframes slide-out {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
    60% {
      opacity: 0;
      -webkit-transform: translateY(120%);
      -moz-transform: translateY(120%);
      -ms-transform: translateY(120%);
      -o-transform: translateY(120%);
      transform: translateY(120%);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
      -o-transform: translateY(100%);
      transform: translateY(100%);
    }
  }
  /*ROTATING TITLES*/
  /*FOOTER*/
  .footer-text a:hover{
    color:#ff557a}
  /*FOOTER*/
</style>
<style>
  .no-padding-between + .no-padding-between {
    padding-top: 0;
  }
  .no-padding-between:has( + .no-padding-between) {
    padding-bottom: 0;
  }
  .grid-2-alternate:nth-child(even) .grid-2 {
    flex-direction: row-reverse;
  }
</style>


<link rel="canonical" href="{{ url }}{% if lang != "en" %}/{{lang}}{% endif %}{% if pagination.items[0].flatData.type != "page" %}/{{ pagination.items[0].flatData.type }}{% endif %}{% if pagination.items[0].flatData.slug != empty %}/{{ pagination.items[0].flatData.slug | slugify }}{% endif %}/">

{%- if lang == "en" %}
	{%- assign alt-lang = "fr" %}
    {%- assign alt-slug = pagination.items | first | map: "flatData.slugFr" %}
	{%- if alt-slug is empty %}
		{%- assign alt-url = "/fr/" %}
	{%- else %}
		{%- assign alt-url = "/fr/" | append: alt-slug | append: "/" %}
	{%- endif %}
{%- else %}
	{%- assign alt-lang = "en" %}
    {%- assign alt-slug = pagination.items | first | map: "flatData.slugEn" %}
	{%- if alt-slug is empty %}
		{%- assign alt-url = "/" %}
	{%- else %}
		{%- assign alt-url = "/" | append: alt-slug | append: "/" %}
	{%- endif %}
{%- endif %}
<meta property="og:locale:alternate" content="{{ alt-lang }}">
<link rel="alternate" hreflang="en" href="{{ url }}{{ alt-url }}" data-concat>

<title>{% liquid
    assign var_itg3_12299 = state_itg3_items | first
	assign var_itg3_12300 = var_itg3_12299.flatData.title
    echo var_itg3_12300
  %}</title>
<link rel="icon" href="{% liquid
    assign var_itg3_12303 = squidex.findGlobalSingleton.flatData.favicon | first
	assign var_itg3_12304 = var_itg3_12303.url
    echo var_itg3_12304
  %}" />
<meta name="description" property="description" content="{% liquid
    assign var_itg3_12301 = state_itg3_items | first
	assign var_itg3_12302 = var_itg3_12301.flatData.description
    echo var_itg3_12302
  %}"/>
<meta name="og:title" property="og:title" content="{% liquid
    assign var_itg3_12308 = state_itg3_items | first
	assign var_itg3_12309 = var_itg3_12308.flatData.title
    echo var_itg3_12309
  %}"/>
<meta name="og:description" property="og:description" content="{% liquid
    assign var_itg3_12310 = state_itg3_items | first
	assign var_itg3_12311 = var_itg3_12310.flatData.description
    echo var_itg3_12311
  %}"/>
<meta name="og:image" property="og:image" content="{% liquid
    assign var_itg3_12305 = state_itg3_items | first
	assign var_itg3_12306 = var_itg3_12305.flatData.shareImage | first
	assign var_itg3_12307 = var_itg3_12306.url
    echo var_itg3_12307
  %}"/>
<link href="https://fonts.googleapis.com" rel="preconnect" ><link href="https://fonts.gstatic.com" rel="preconnect" crossorigin ><link href="https://fonts.googleapis.com/css?family=Ubuntu:regular&display=swap" rel="stylesheet" ></head>
{% liquid
    assign var_itg3_12291 = state_itg3_items | first
	assign var_itg3_12292 = var_itg3_12291.flatData.slug
    assign state_itg3_itg3-hfz218swvzc = var_itg3_12292
  %}
{% liquid
    assign var_itg3_12293 = squidex.queryPageContents | first
	assign var_itg3_12294 = var_itg3_12293.data.slug
    assign state_itg3_itg3-f11vx0e9lvl = var_itg3_12294
  %}
{% liquid
    assign var_itg3_12295 = state_itg3_itg3-f11vx0e9lvl.fr
    assign state_itg3_itg3-bs58o7zu14v = var_itg3_12295
  %}
{% liquid
    assign var_itg3_12296 = state_itg3_itg3-f11vx0e9lvl.en
    assign state_itg3_itg3-n8bs6a55fs = var_itg3_12296
  %}
{% liquid
    assign var_itg3_12297 = state_itg3_items | first
	assign var_itg3_12298 = var_itg3_12297.flatData.type
    assign state_itg3_itg3-w8te2r1vm4 = var_itg3_12298
  %}<body id="itg3" href="" class=""><A id="ime5u3" href="#content" class="focus-visible">Skip to content<br/></A><NAV id="iiqo3h" class="menu">{% liquid
    assign var_iek8au_11532 = "/"
    assign state_iek8au-8057_iek8au-6sk42i1uo27 = var_iek8au_11532
  %}<a id="iek8au" href="{% liquid
    assign var_iek8au_11533 = state_iek8au-8057_iek8au-6sk42i1uo27 | locale_url
    echo var_iek8au_11533
  %}" class="logo"></a><div id="ipp628" class="menu-cont tablet-hide margin-on-the-side"><div id="ic8gpm" class="nonunderline text-color-808080 menu-text">{% liquid
    assign var_ijzsdm_11536 = "/"
    assign state_ijzsdm_ijzsdm-dkqn52273e4 = var_ijzsdm_11536
  %}{% liquid
    assign var_ijzsdm_11535 = squidex.findGlobalSingleton.flatData.nav
    %}
    {% for state_ijzsdm___data in var_ijzsdm_11535 %}
  <a id="ijzsdm" href="{% liquid
    assign var_ijzsdm_11538 = state_ijzsdm___data.url
    echo var_ijzsdm_11538
  %}" class="menu-item" title="{% liquid
    assign var_ijzsdm_11537 = state_ijzsdm___data.title
    echo var_ijzsdm_11537
  %}" data-current-class="current">{% liquid
    assign var_ijzsdm_11534 = state_ijzsdm___data.label
    echo var_ijzsdm_11534
  %}</a>{% endfor %}</div></div><label id="ikmvui" for="mobile-menu-checkbox" class="mobile-menu-button desktop-hide"></label><a id="i4m7pf" class="cta-btn text-color-FF557A tablet-hide margin-on-the-side" href="{% liquid
    assign var_i4m7pf_11540 = squidex.findGlobalSingleton.flatData.url
    echo var_i4m7pf_11540
  %}">{% liquid
    assign var_i4m7pf_11539 = squidex.findGlobalSingleton.flatData.label
    echo var_i4m7pf_11539
  %}</a><div id="in1ith" class="flex-center tablet-hide"><select id="i9qu6" class="no-border-bg margin-on-the-side h5-height-fixed" onchange="location.pathname = this.value">{% liquid
    assign var_i41rxa_11553 = page.lang
	assign var_i41rxa_11554 = "en"
    %}
    {% if var_i41rxa_11553 == var_i41rxa_11554 %}
  <option id="i41rxa" class="" label="EN" selected="true"></option>{% endif %}{% liquid
    assign var_ianzuo_11555 = page.lang
	assign var_ianzuo_11556 = "en"
    %}
    {% if var_ianzuo_11555 != var_ianzuo_11556 %}
  <option id="ianzuo" class="" value="{% liquid
    assign var_ianzuo_11557 = state_itg3_items | first
	assign var_ianzuo_11558 = var_ianzuo_11557.flatData.slugEn | prepend: "/"
    echo var_ianzuo_11558
  %}" label="EN"></option>{% endif %}{% liquid
    assign var_i16qdq_11559 = page.lang
	assign var_i16qdq_11560 = "fr"
    %}
    {% if var_i16qdq_11559 == var_i16qdq_11560 %}
  <option id="i16qdq" class="" label="FR" selected="true"></option>{% endif %}{% liquid
    assign var_ihxv0q_11561 = page.lang
	assign var_ihxv0q_11562 = "fr"
    %}
    {% if var_ihxv0q_11561 != var_ihxv0q_11562 %}
  <option id="ihxv0q" class="" value="{% liquid
    assign var_ihxv0q_11563 = state_itg3_items | first
	assign var_ihxv0q_11564 = var_ihxv0q_11563.flatData.slugFr | prepend: "/fr/"
    echo var_ihxv0q_11564
  %}" label="FR"></option>{% endif %}</select></div></NAV><input type="checkbox" id="mobile-menu-checkbox" class="mobile-menu-checkbox"/><div id="i6lt6f" class="mobile-menu text-color-808080"><div id="iuklek" class="nonunderline uppercase menu-text vertical-list text-centered">{% liquid
    assign var_ipvfa_11567 = "/"
    assign state_ijzsdm_ijzsdm-dkqn52273e4 = var_ipvfa_11567
  %}{% liquid
    assign var_ipvfa_11566 = squidex.findGlobalSingleton.flatData.nav
    %}
    {% for state_ijzsdm___data in var_ipvfa_11566 %}
  <a class="menu-item click-zone" href="{% liquid
    assign var_ipvfa_11568 = state_ijzsdm___data.url
    echo var_ipvfa_11568
  %}" title="{% liquid
    assign var_ipvfa_11569 = state_ijzsdm___data.title
    echo var_ipvfa_11569
  %}" data-current-class="current">{% liquid
    assign var_ipvfa_11565 = state_ijzsdm___data.label
    echo var_ipvfa_11565
  %}</a>{% endfor %}</div><div id="ixuc2o"><a href="{% liquid
    assign var_iqy1eg_11570 = state_itg3_items | first
	assign var_iqy1eg_11571 = var_iqy1eg_11570.flatData.slugFr | prepend: "/fr/"
    echo var_iqy1eg_11571
  %}" id="iqy1eg" class="click-zone current link" data-current-class="current">Français</a> | <a href="{% liquid
    assign var_i0yl8j_11572 = state_itg3_items | first
	assign var_i0yl8j_11573 = var_i0yl8j_11572.flatData.slugEn | prepend: "/"
    echo var_i0yl8j_11573
  %}" id="i0yl8j" class="click-zone link" data-current-class="current">English</a><br/></div></div>{% liquid
    assign var_ixhp6z_12282 = state_itg3_items | first
	assign var_ixhp6z_12283 = var_ixhp6z_12282.data.modules.en | first
	assign var_ixhp6z_12284 = var_ixhp6z_12283.item__Dynamic
    assign state_ixhp6z_ixhp6z-o5u858qmucs = var_ixhp6z_12284
  %}{% liquid
    assign var_ixhp6z_12280 = state_itg3_items | first
	assign var_ixhp6z_12281 = var_ixhp6z_12280.flatData.modules
    %}
    {% for state_ixhp6z___data in var_ixhp6z_12281 %}
  {% liquid
    assign var_ia0wm7_11943 = state_ixhp6z___data.item
    assign state_ia0wm7_ia0wm7-97f07796os7 = var_ia0wm7_11943
  %}{% liquid
    assign var_ia0wm7_11941 = state_ia0wm7_ia0wm7-97f07796os7.type
	assign var_ia0wm7_11942 = "hero-word-slider"
    %}
    {% if var_ia0wm7_11941 == var_ia0wm7_11942 %}
  <section id="content" class="bg-gradient-blue-pattern header-cont"><div id="ih4x9s"><script>
  document.addEventListener("DOMContentLoaded", function() {
    const wrapper = document.querySelector('.cd-words-wrapper');
    const divs = wrapper.querySelectorAll(':scope > *');
    document.querySelectorAll('.cd-headline.slide b.is-visible:not(:first-of-type)')
      .forEach(el => el.classList.remove('is-visible'))
    let currentIndex = 0;
    console.log({
      wrapper, divs, currentIndex}
               )
    setInterval(function() {
      // Remove 'is-visible' class from current div
      divs[currentIndex].classList.remove('is-visible');
      // Move to the next div
      currentIndex = (currentIndex + 1) % divs.length;
      // Add 'is-visible' class to the new current div
      divs[currentIndex].classList.add('is-visible');
    }
                , 5000);
  }
                           );
</script>
<SECTION id="icuhim" class="bg-rectangles"><DIV id="i5xhpg" class="text-white max-1400 rotating-text-cont text-centered"><h3 id="ip6tvd" class="h3">{% liquid
    assign var_ip6tvd_11934 = state_ia0wm7_ia0wm7-97f07796os7.before
    echo var_ip6tvd_11934
  %}</h3><section class="cd-intro"><h1 class="cd-headline slide"><span class="cd-words-wrapper">{% liquid
    assign var_i63rae_11936 = state_ia0wm7_ia0wm7-97f07796os7.words
    %}
    {% for state_i63rae___data in var_i63rae_11936 %}
  <b id="i63rae" class="is-visible">{% liquid
    assign var_i63rae_11935 = state_i63rae___data.word
    echo var_i63rae_11935
  %}</b>{% endfor %}</span></h1></section><H3 id="i9avbv" class="h3"><b id="iubjb" class="">{% liquid
    assign var_iubjb_11937 = state_ia0wm7_ia0wm7-97f07796os7.after
    echo var_iubjb_11937
  %}</b></H3></DIV><div id="i9cck2" class="CTA-inline text-color-FF557A"><a id="i9sqaq" class="cta-btn text-white bg-ff557a" href="{% liquid
    assign var_i9sqaq_11939 = state_ia0wm7_ia0wm7-97f07796os7.cTAUrl
    echo var_i9sqaq_11939
  %}" title="{% liquid
    assign var_i9sqaq_11940 = state_ia0wm7_ia0wm7-97f07796os7.cTALabel
    echo var_i9sqaq_11940
  %}">{% liquid
    assign var_i9sqaq_11938 = state_ia0wm7_ia0wm7-97f07796os7.cTALabel
    echo var_i9sqaq_11938
  %}</a></div></SECTION></div></section>{% endif %}{% liquid
    assign var_ibmer_11962 = state_ixhp6z___data.item
    assign state_ia0wm7_ia0wm7-97f07796os7 = var_ibmer_11962
  %}{% liquid
    assign var_ibmer_11960 = state_ia0wm7_ia0wm7-97f07796os7.type
	assign var_ibmer_11961 = "simple-hero"
    %}
    {% if var_ibmer_11960 == var_ibmer_11961 %}
  <section id="content" class="bg-gradient-blue-pattern header-cont"><div id="iyogd9"><SECTION id="ixc94f" class="bg-rectangles hero-height"><div id="iha4b" class="h3 text-white rich-text half-width">{% liquid
    assign var_iha4b_11952 = state_ia0wm7_ia0wm7-97f07796os7.text
    echo var_iha4b_11952
  %}</div><div id="i0odk5" class="CTA-inline text-color-FF557A">{% liquid
    assign var_itm2f_11954 = state_ia0wm7_ia0wm7-97f07796os7.secondaryLabel
    %}
    {% if var_itm2f_11954 and var_itm2f_11954 != blank and var_itm2f_11954 != empty %}
  <a class="cta text-white" href="{% liquid
    assign var_itm2f_11955 = state_ia0wm7_ia0wm7-97f07796os7.secondaryUrl
    echo var_itm2f_11955
  %}">{% liquid
    assign var_itm2f_11953 = state_ia0wm7_ia0wm7-97f07796os7.secondaryLabel
    echo var_itm2f_11953
  %}</a>{% endif %}{% liquid
    assign var_ihbu1_11957 = state_ia0wm7_ia0wm7-97f07796os7.cTALabel
    %}
    {% if var_ihbu1_11957 and var_ihbu1_11957 != blank and var_ihbu1_11957 != empty %}
  <a class="cta-btn text-white bg-ff557a" href="{% liquid
    assign var_ihbu1_11958 = state_ia0wm7_ia0wm7-97f07796os7.cTAUrl
    echo var_ihbu1_11958
  %}" title="{% liquid
    assign var_ihbu1_11959 = state_ia0wm7_ia0wm7-97f07796os7.cTALabel
    echo var_ihbu1_11959
  %}">{% liquid
    assign var_ihbu1_11956 = state_ia0wm7_ia0wm7-97f07796os7.cTALabel
    echo var_ihbu1_11956
  %}</a>{% endif %}</div></SECTION></div></section>{% endif %}{% liquid
    assign var_iktmgi_11965 = state_ixhp6z___data.item
    assign state_iktmgi_iktmgi-7jwxlnudcng = var_iktmgi_11965
  %}{% liquid
    assign var_iktmgi_11963 = state_iktmgi_iktmgi-7jwxlnudcng.type
	assign var_iktmgi_11964 = "section-slideshow-up"
    %}
    {% if var_iktmgi_11963 == var_iktmgi_11964 %}
  <section id="iktmgi" class="flex-centered"><div id="ik8vy2" class="display-up z-index10"></div></section>{% endif %}{% liquid
    assign var_i7v07_11978 = state_ixhp6z___data.item
    assign state_iktmgi_iktmgi-7jwxlnudcng = var_i7v07_11978
  %}{% liquid
    assign var_i7v07_11976 = state_iktmgi_iktmgi-7jwxlnudcng.type
	assign var_i7v07_11977 = "section-image-up"
    %}
    {% if var_i7v07_11976 == var_i7v07_11977 %}
  <section class="flex-centered"><div id="im7yg" class="display-up z-index10">{% liquid
    assign var_i8zces_11971 = state_iktmgi_iktmgi-7jwxlnudcng.image | log
    assign state_i8zces-4411_i8zces-aze25smac9h = var_i8zces_11971
  %}<img webc:is="eleventy-image" src="{% liquid
    assign var_i8zces_11972 = state_iktmgi_iktmgi-7jwxlnudcng.image | first
	assign var_i8zces_11973 = var_i8zces_11972.url
    echo var_i8zces_11973
  %}" id="i8zces" class="full-width shadow-box img-bg" alt="{% liquid
    assign var_i8zces_11974 = state_iktmgi_iktmgi-7jwxlnudcng.image | first
	assign var_i8zces_11975 = var_i8zces_11974.fileName
    echo var_i8zces_11975
  %}" loading="eager"></img></div></section>{% endif %}{% liquid
    assign var_ij90tw_12041 = state_ixhp6z___data.item
    assign state_ij90tw_ij90tw-stl8ngtrzye = var_ij90tw_12041
  %}
{% liquid
    assign var_ij90tw_12042 = "special-heading"
    assign state_ij90tw_ij90tw-j8ob5nddtrr = var_ij90tw_12042
  %}{% liquid
    assign var_ij90tw_12039 = state_ij90tw_ij90tw-stl8ngtrzye.type
	assign var_ij90tw_12040 = "special-heading"
    %}
    {% if var_ij90tw_12039 == var_ij90tw_12040 %}
  <section id="ij90tw" class="margin-section-150"><div id="i2qm05" class="max-1400 text-color-363063"><P id="iwsos7" href="" class="rich-text">{% liquid
    assign var_imoxj_12025 = state_ij90tw_ij90tw-stl8ngtrzye.title
    %}
    {% if var_imoxj_12025 and var_imoxj_12025 != blank and var_imoxj_12025 != empty %}
  <h2 id="{% liquid
    assign var_imoxj_12026 = state_ij90tw_ij90tw-stl8ngtrzye.title | slugify
    echo var_imoxj_12026
  %}" class="h2 has-anchor"><a id="ip0ocl" href="{% liquid
    assign var_ip0ocl_12024 = state_ij90tw_ij90tw-stl8ngtrzye.title | slugify | prepend: "#"
    echo var_ip0ocl_12024
  %}" class="">{% liquid
    assign var_ip0ocl_12023 = state_ij90tw_ij90tw-stl8ngtrzye.title
    echo var_ip0ocl_12023
  %}</a><br/></h2>{% endif %}{% liquid
    assign var_iwl8l_12029 = state_ij90tw_ij90tw-stl8ngtrzye.subtitle
    %}
    {% if var_iwl8l_12029 and var_iwl8l_12029 != blank and var_iwl8l_12029 != empty %}
  <h3 id="{% liquid
    assign var_iwl8l_12030 = state_ij90tw_ij90tw-stl8ngtrzye.subtitle | slugify
    echo var_iwl8l_12030
  %}" class="h3"><span id="iih74y" href="" class="">{% liquid
    assign var_iih74y_12028 = state_ij90tw_ij90tw-stl8ngtrzye.subtitle
    echo var_iih74y_12028
  %}</span><br/></h3>{% endif %}{% liquid
    assign var_is2v9p_12032 = state_ij90tw_ij90tw-stl8ngtrzye.text
    %}
    {% if var_is2v9p_12032 and var_is2v9p_12032 != blank and var_is2v9p_12032 != empty %}
  <div id="is2v9p" class="p">{% liquid
    assign var_is2v9p_12031 = state_ij90tw_ij90tw-stl8ngtrzye.text
    echo var_is2v9p_12031
  %}</div>{% endif %}</P></div><div id="i1bh1t" title="i303s" class="CTA-inline text-color-FF557A">{% liquid
    assign var_i6635_12034 = state_ij90tw_ij90tw-stl8ngtrzye.labelSecondary
    %}
    {% if var_i6635_12034 and var_i6635_12034 != blank and var_i6635_12034 != empty %}
  <a id="i6635" class="cta text-color-FF557A" href="{% liquid
    assign var_i6635_12035 = state_ij90tw_ij90tw-stl8ngtrzye.uRLSecondary
    echo var_i6635_12035
  %}">{% liquid
    assign var_i6635_12033 = state_ij90tw_ij90tw-stl8ngtrzye.labelSecondary
    echo var_i6635_12033
  %}</a>{% endif %}{% liquid
    assign var_i4pbq_12037 = state_ij90tw_ij90tw-stl8ngtrzye.label
    %}
    {% if var_i4pbq_12037 and var_i4pbq_12037 != blank and var_i4pbq_12037 != empty %}
  <a id="i4pbq" class="cta-btn text-color-FF557A" href="{% liquid
    assign var_i4pbq_12038 = state_ij90tw_ij90tw-stl8ngtrzye.uRL
    echo var_i4pbq_12038
  %}">{% liquid
    assign var_i4pbq_12036 = state_ij90tw_ij90tw-stl8ngtrzye.label
    echo var_i4pbq_12036
  %}</a>{% endif %}</div></section>{% endif %}{% liquid
    assign var_i21ti_12075 = state_ixhp6z___data.item
    assign state_i21ti_i21ti-z6itz9ag9fo = var_i21ti_12075
  %}{% liquid
    assign var_i21ti_12073 = state_i21ti_i21ti-z6itz9ag9fo.type
	assign var_i21ti_12074 = "section-pattern-grid"
    %}
    {% if var_i21ti_12073 == var_i21ti_12074 %}
  <section id="i21ti" class="grid-2-alternate {% liquid
    assign var_i21ti_12076 = state_i21ti_i21ti-z6itz9ag9fo.style
    echo var_i21ti_12076
  %}"><div id="i8izek" class="grid-2 max-w-1400"><div id="ifg9w" class="spe-heading-text col-1-2"><DIV id="i65ch" class="rich-text">{% liquid
    assign var_ibupo_12059 = state_i21ti_i21ti-z6itz9ag9fo.title
    %}
    {% if var_ibupo_12059 and var_ibupo_12059 != blank and var_ibupo_12059 != empty %}
  <h2 class="h2">{% liquid
    assign var_ibupo_12058 = state_i21ti_i21ti-z6itz9ag9fo.title
    echo var_ibupo_12058
  %}</h2>{% endif %}{% liquid
    assign var_iyqc9_12061 = state_i21ti_i21ti-z6itz9ag9fo.subtitle
    %}
    {% if var_iyqc9_12061 and var_iyqc9_12061 != blank and var_iyqc9_12061 != empty %}
  <h3 id="iyqc9" class="h3">{% liquid
    assign var_iyqc9_12060 = state_i21ti_i21ti-z6itz9ag9fo.subtitle
    echo var_iyqc9_12060
  %}</h3>{% endif %}{% liquid
    assign var_ig4lg_12063 = state_i21ti_i21ti-z6itz9ag9fo.text
    %}
    {% if var_ig4lg_12063 and var_ig4lg_12063 != blank and var_ig4lg_12063 != empty %}
  <div id="ig4lg" class="p">{% liquid
    assign var_ig4lg_12062 = state_i21ti_i21ti-z6itz9ag9fo.text
    echo var_ig4lg_12062
  %}</div>{% endif %}</DIV><div id="izg57" class="text-color-8772FE CTA-inline">{% liquid
    assign var_id3to_12065 = state_i21ti_i21ti-z6itz9ag9fo.labelSecondary
    %}
    {% if var_id3to_12065 and var_id3to_12065 != blank and var_id3to_12065 != empty %}
  <a id="id3to" class="cta text-white" href="{% liquid
    assign var_id3to_12066 = state_i21ti_i21ti-z6itz9ag9fo.uRLSecondary
    echo var_id3to_12066
  %}">{% liquid
    assign var_id3to_12064 = state_i21ti_i21ti-z6itz9ag9fo.labelSecondary
    echo var_id3to_12064
  %}</a>{% endif %}{% liquid
    assign var_ib6kl_12068 = state_i21ti_i21ti-z6itz9ag9fo.label
    %}
    {% if var_ib6kl_12068 and var_ib6kl_12068 != blank and var_ib6kl_12068 != empty %}
  <a id="ib6kl" class="cta-btn text-white" href="{% liquid
    assign var_ib6kl_12069 = state_i21ti_i21ti-z6itz9ag9fo.uRL
    echo var_ib6kl_12069
  %}">{% liquid
    assign var_ib6kl_12067 = state_i21ti_i21ti-z6itz9ag9fo.label
    echo var_ib6kl_12067
  %}</a>{% endif %}</div></div>{% liquid
    assign var_in5bh_12070 = state_i21ti_i21ti-z6itz9ag9fo.image | first
    %}
    {% if var_in5bh_12070 and var_in5bh_12070 != blank and var_in5bh_12070 != empty %}
  <img src="{% liquid
    assign var_in5bh_12071 = state_i21ti_i21ti-z6itz9ag9fo.image | first
	assign var_in5bh_12072 = var_in5bh_12071.url
    echo var_in5bh_12072
  %}" id="in5bh" class="spe-heading-icone col-1-2"></img>{% endif %}</div><div id="i5fcpw" class="bg-pattern-purpel bg-pattern-pink-red bg-pattern-gold bg-pattern-cyan">Keep this for CSS Classes bg-pattern-*</div></section>{% endif %}{% liquid
    assign var_i2gwfj_12125 = state_ixhp6z___data.item
    assign state_i2gwfj_i2gwfj-8wnzlaji45f = var_i2gwfj_12125
  %}{% liquid
    assign var_i2gwfj_12123 = state_i2gwfj_i2gwfj-8wnzlaji45f.type
	assign var_i2gwfj_12124 = "section-squares"
    %}
    {% if var_i2gwfj_12123 == var_i2gwfj_12124 %}
  <div id="i2gwfj" class="max-1400"><div id="i0an82" class="grid margin-section-150">{% liquid
    assign var_itr4xe_12118 = state_i2gwfj_i2gwfj-8wnzlaji45f.cards
    %}
    {% for state_itr4xe___data in var_itr4xe_12118 %}
  <div id="itr4xe" href="" class="square multicolored-border ease-back">{% liquid
    assign var_i9sld9_12109 = state_itr4xe___data.image | size
	assign var_i9sld9_12110 = "0"
    %}
    {% if var_i9sld9_12109 > var_i9sld9_12110 %}
  <img src="{% liquid
    assign var_i9sld9_12111 = state_itr4xe___data.image | first
	assign var_i9sld9_12112 = var_i9sld9_12111.url
    echo var_i9sld9_12112
  %}" id="i9sld9" class=""></img>{% endif %}<DIV id="ixwk7i" class="p text-color-808080 link"><h4 id="io4yzm" class="h4">{% liquid
    assign var_io4yzm_12113 = state_itr4xe___data.title
    echo var_io4yzm_12113
  %}</h4><span id="ihbeg8" class="link">{% liquid
    assign var_ihbeg8_12114 = state_itr4xe___data.text
    echo var_ihbeg8_12114
  %}</span><br/></DIV>{% liquid
    assign var_iwkwoy_12116 = state_itr4xe___data.label
    %}
    {% if var_iwkwoy_12116 and var_iwkwoy_12116 != blank and var_iwkwoy_12116 != empty %}
  <a href="{% liquid
    assign var_iwkwoy_12117 = state_itr4xe___data.uRL
    echo var_iwkwoy_12117
  %}" id="iwkwoy" class="bottom p">{% liquid
    assign var_iwkwoy_12115 = state_itr4xe___data.label
    echo var_iwkwoy_12115
  %}</a>{% endif %}</div>{% endfor %}</div>{% liquid
    assign var_i05x3g_12120 = state_i2gwfj_i2gwfj-8wnzlaji45f.cTALabel
    %}
    {% if var_i05x3g_12120 and var_i05x3g_12120 != blank and var_i05x3g_12120 != empty %}
  <a id="i05x3g" class="cta-btn text-white bg-ff557a" href="{% liquid
    assign var_i05x3g_12121 = state_i2gwfj_i2gwfj-8wnzlaji45f.cTAUrl
    echo var_i05x3g_12121
  %}" title="{% liquid
    assign var_i05x3g_12122 = state_i2gwfj_i2gwfj-8wnzlaji45f.cTALabel
    echo var_i05x3g_12122
  %}">{% liquid
    assign var_i05x3g_12119 = state_i2gwfj_i2gwfj-8wnzlaji45f.cTALabel
    echo var_i05x3g_12119
  %}</a>{% endif %}</div>{% endif %}{% liquid
    assign var_idiu9l_12166 = state_ixhp6z___data.item
    assign state_i2gwfj_i2gwfj-8wnzlaji45f = var_idiu9l_12166
  %}{% liquid
    assign var_idiu9l_12164 = state_i2gwfj_i2gwfj-8wnzlaji45f.type
	assign var_idiu9l_12165 = "section-squares-features"
    %}
    {% if var_idiu9l_12164 == var_idiu9l_12165 %}
  <div id="idiu9l" class="max-1400"><div class="grid margin-section-150">{% liquid
    assign var_isj9vp_12163 = squidex.queryFeatureContents
    %}
    {% for state_itr4xe___data in var_isj9vp_12163 %}
  <div href="" class="square multicolored-border ease-back">{% liquid
    assign var_i9sld9-2_12154 = state_itr4xe___data.image | size
	assign var_i9sld9-2_12155 = "0"
    %}
    {% if var_i9sld9-2_12154 > var_i9sld9-2_12155 %}
  <img src="{% liquid
    assign var_i9sld9-2_12156 = state_itr4xe___data.image | first
	assign var_i9sld9-2_12157 = var_i9sld9-2_12156.url
    echo var_i9sld9-2_12157
  %}" id="i9sld9-2" class=""></img>{% endif %}<DIV id="i401fh" class="p text-color-808080 link"><h4 class="h4">{% liquid
    assign var_iync9d_12158 = state_itr4xe___data.flatData.title
    echo var_iync9d_12158
  %}</h4><span class="link">{% liquid
    assign var_iykkdk_12159 = state_itr4xe___data.flatData.text
    echo var_iykkdk_12159
  %}</span><br/></DIV>{% liquid
    assign var_iswwf2_12161 = state_itr4xe___data.label
    %}
    {% if var_iswwf2_12161 and var_iswwf2_12161 != blank and var_iswwf2_12161 != empty %}
  <a href="{% liquid
    assign var_iswwf2_12162 = state_itr4xe___data.flatData.label
    echo var_iswwf2_12162
  %}" id="iswwf2" class="bottom p">{% liquid
    assign var_iswwf2_12160 = state_itr4xe___data.flatData.uRL
    echo var_iswwf2_12160
  %}</a>{% endif %}</div>{% endfor %}</div></div>{% endif %}{% liquid
    assign var_iw67w2_12209 = state_ixhp6z___data.item
    assign state_iqnenf_iqnenf-jvgg22fjf5 = var_iw67w2_12209
  %}{% liquid
    assign var_iw67w2_12207 = state_iqnenf_iqnenf-jvgg22fjf5.type
	assign var_iw67w2_12208 = "special-heading-img"
    %}
    {% if var_iw67w2_12207 == var_iw67w2_12208 %}
  <section id="iw67w2" class="bg-gradient margin-section-150"><div id="iujr4l" class="max-1400 flex-center alternate-in-section">{% liquid
    assign var_ifmwxi_12187 = state_iqnenf_iqnenf-jvgg22fjf5.image | first
	assign var_ifmwxi_12188 = var_ifmwxi_12187.url
    %}
    {% if var_ifmwxi_12188 and var_ifmwxi_12188 != blank and var_ifmwxi_12188 != empty %}
  <img src="{% liquid
    assign var_ifmwxi_12189 = state_iqnenf_iqnenf-jvgg22fjf5.image | first
	assign var_ifmwxi_12190 = var_ifmwxi_12189.url
    echo var_ifmwxi_12190
  %}" id="ifmwxi" class="spe-heading-icone col-1-2"></img>{% endif %}<div id="i2efwg" class="text-color-363063 col-1-2"><DIV id="i8sxnc" class="rich-text">{% liquid
    assign var_it0kfj_12195 = state_iqnenf_iqnenf-jvgg22fjf5.title
    %}
    {% if var_it0kfj_12195 and var_it0kfj_12195 != blank and var_it0kfj_12195 != empty %}
  <h2 class="h2 has-anchor" id="{% liquid
    assign var_it0kfj_12196 = state_iqnenf_iqnenf-jvgg22fjf5.title | slugify
    echo var_it0kfj_12196
  %}"><a id="i42bji" href="{% liquid
    assign var_i42bji_12194 = state_iqnenf_iqnenf-jvgg22fjf5.title | slugify | prepend: "#"
    echo var_i42bji_12194
  %}" class="">{% liquid
    assign var_i42bji_12193 = state_iqnenf_iqnenf-jvgg22fjf5.title
    echo var_i42bji_12193
  %}</a></h2>{% endif %}{% liquid
    assign var_iggyyk_12198 = state_iqnenf_iqnenf-jvgg22fjf5.subtitle
    %}
    {% if var_iggyyk_12198 and var_iggyyk_12198 != blank and var_iggyyk_12198 != empty %}
  <h3 id="iggyyk" class="h3">{% liquid
    assign var_iggyyk_12197 = state_iqnenf_iqnenf-jvgg22fjf5.subtitle
    echo var_iggyyk_12197
  %}</h3>{% endif %}</DIV>{% liquid
    assign var_iv6hkz_12200 = state_iqnenf_iqnenf-jvgg22fjf5.text
    %}
    {% if var_iv6hkz_12200 and var_iv6hkz_12200 != blank and var_iv6hkz_12200 != empty %}
  <div id="iv6hkz" class="p">{% liquid
    assign var_iv6hkz_12199 = state_iqnenf_iqnenf-jvgg22fjf5.text
    echo var_iv6hkz_12199
  %}</div>{% endif %}</div></div><div id="im091j" title="i303s" class="CTA-inline max-1400"><a id="ivtgsg" class="cta text-color-FF557A" href="{% liquid
    assign var_ivtgsg_12202 = state_iqnenf_iqnenf-jvgg22fjf5.uRLSecondary
    echo var_ivtgsg_12202
  %}" title="{% liquid
    assign var_ivtgsg_12203 = state_iqnenf_iqnenf-jvgg22fjf5.labelSecondary
    echo var_ivtgsg_12203
  %}" target="_blank">{% liquid
    assign var_ivtgsg_12201 = state_iqnenf_iqnenf-jvgg22fjf5.labelSecondary
    echo var_ivtgsg_12201
  %}</a><a class="cta-btn text-color-FF557A text-color-FFFBFC ease-back" href="{% liquid
    assign var_i0w3ky_12205 = state_iqnenf_iqnenf-jvgg22fjf5.uRL
    echo var_i0w3ky_12205
  %}" title="{% liquid
    assign var_i0w3ky_12206 = state_iqnenf_iqnenf-jvgg22fjf5.label
    echo var_i0w3ky_12206
  %}" target="_blank">{% liquid
    assign var_i0w3ky_12204 = state_iqnenf_iqnenf-jvgg22fjf5.label
    echo var_i0w3ky_12204
  %}</a></div></section>{% endif %}{% liquid
    assign var_ie2a_12244 = state_ixhp6z___data.item
    assign state_ie2a_ie2a-1q02u9snin4 = var_ie2a_12244
  %}{% liquid
    assign var_ie2a_12242 = state_ie2a_ie2a-1q02u9snin4.type
	assign var_ie2a_12243 = "section-rect-bg"
    %}
    {% if var_ie2a_12242 == var_ie2a_12243 %}
  <section id="ie2a" class="bg-purple-grain"><SECTION id="iccgqa" class="bg-rectangles"><SECTION id="i4cis5" class="text-white max-1400"><P id="ibx7rg" class="rich-text"><h2 class="h2 has-anchor" id="{% liquid
    assign var_izccod_12230 = state_ie2a_ie2a-1q02u9snin4.title | slugify
    echo var_izccod_12230
  %}"><a id="i9c9qc" href="{% liquid
    assign var_i9c9qc_12229 = state_ie2a_ie2a-1q02u9snin4.title | slugify | prepend: "#"
    echo var_i9c9qc_12229
  %}" class="">{% liquid
    assign var_i9c9qc_12228 = state_ie2a_ie2a-1q02u9snin4.title
    echo var_i9c9qc_12228
  %}</a><br/></h2><h3 id="ic78nd" class="h3">{% liquid
    assign var_ic78nd_12231 = state_ie2a_ie2a-1q02u9snin4.subtitle
    echo var_ic78nd_12231
  %}</h3></P><div id="irtwfe" class="grid space-between">{% liquid
    assign var_inhzoh_12240 = state_ie2a_ie2a-1q02u9snin4.cards
    %}
    {% for state_inhzoh-7794___data in var_inhzoh_12240 %}
  <a id="inhzoh" href="{% liquid
    assign var_inhzoh_12241 = state_inhzoh-7794___data.link
    echo var_inhzoh_12241
  %}" class="cta-btn-ico nonunderline text-color-8772FE"><div id="i3rtbh" class="app-ico-cont"><img webc:is="eleventy-image" src="{% liquid
    assign var_im57qh_12236 = state_inhzoh-7794___data.image | first
	assign var_im57qh_12237 = var_im57qh_12236.url
    echo var_im57qh_12237
  %}" id="im57qh" class="full-width app-ico"></img></div><div id="itqilc" href="" class="h5 uppercase nonunderline text-white">{% liquid
    assign var_itqilc_12238 = state_inhzoh-7794___data.title
    echo var_itqilc_12238
  %}</div><p href="" class="text-16px text-white">{% liquid
    assign var_isin6j_12239 = state_inhzoh-7794___data.text
    echo var_isin6j_12239
  %}</p></a>{% endfor %}</div></SECTION></SECTION></section>{% endif %}{% liquid
    assign var_ik9a8g_12279 = state_ixhp6z___data.item
    assign state_ik9a8g_ik9a8g-wlais2c09k = var_ik9a8g_12279
  %}{% liquid
    assign var_ik9a8g_12277 = state_ik9a8g_ik9a8g-wlais2c09k.type
	assign var_ik9a8g_12278 = "section-network"
    %}
    {% if var_ik9a8g_12277 == var_ik9a8g_12278 %}
  <div id="ik9a8g" class=""><div id="iqkal8" class="network-cont shadow-box"><div id="io9ztk" class="text-color-363063"><h5 id="ig68th" href="" class="h5 uppercase nonunderline">{% liquid
    assign var_ig68th_12261 = state_ik9a8g_ik9a8g-wlais2c09k.title
    echo var_ig68th_12261
  %}</h5><p id="ictw79" href="" class="text-16px">{% liquid
    assign var_ictw79_12262 = state_ik9a8g_ik9a8g-wlais2c09k.subtitle
    echo var_ictw79_12262
  %}</p></div><div id="i6v82o" class="network-4-app p">{% liquid
    assign var_ig5ls7_12275 = state_ik9a8g_ik9a8g-wlais2c09k.cards
    %}
    {% for state_ig5ls7-3034___data in var_ig5ls7_12275 %}
  <a id="ig5ls7" href="{% liquid
    assign var_ig5ls7_12276 = state_ig5ls7-3034___data.link
    echo var_ig5ls7_12276
  %}" class="cta-btn-mini-ico multicolored-border"><div id="idadt3" class="app-ico"><img webc:is="eleventy-image" src="{% liquid
    assign var_i3nfo7_12269 = state_ig5ls7-3034___data.image | first
	assign var_i3nfo7_12270 = var_i3nfo7_12269.url
    echo var_i3nfo7_12270
  %}" id="i3nfo7" class="full-width" alt="{% liquid
    assign var_i3nfo7_12271 = state_ig5ls7-3034___data.text
    echo var_i3nfo7_12271
  %}" title="{% liquid
    assign var_i3nfo7_12272 = state_ig5ls7-3034___data.title
    echo var_i3nfo7_12272
  %}"></img></div>{% liquid
    assign var_ircxzg_12274 = state_ig5ls7-3034___data.text
    %}
    {% if var_ircxzg_12274 and var_ircxzg_12274 != blank and var_ircxzg_12274 != empty %}
  <div id="ircxzg" class="app-ico-text">{% liquid
    assign var_ircxzg_12273 = state_ig5ls7-3034___data.text
    echo var_ircxzg_12273
  %}</div>{% endif %}</a>{% endfor %}</div></div></div>{% endif %}{% endfor %}<SECTION id="i9yigx" class="color-EDEDED"><div id="iwglvh" class="grid footer-cont grid-gap">{% liquid
    assign var_itvavp_12289 = squidex.findGlobalSingleton.flatData.links
    %}
    {% for state_itvavp-8611___data in var_itvavp_12289 %}
  <div id="itvavp" class="footer-text text-color-363063 nonunderline"><h6 id="ixo23m" href="" class="h6">{% liquid
    assign var_ixo23m_12287 = state_itvavp-8611___data.title
    echo var_ixo23m_12287
  %}</h6><div id="ivs696" href="" class="p">{% liquid
    assign var_ivs696_12288 = state_itvavp-8611___data.content
    echo var_ivs696_12288
  %}</div></div>{% endfor %}<div id="ip52m6" class="text-color-363063"></div></div></SECTION><div id="ixklua" class="bg-purple-grain sub-footer"><div id="iskfoh" class="text-16px text-white text-centered">{% liquid
    assign var_iskfoh_12290 = squidex.findGlobalSingleton.flatData.footerLegal
    echo var_iskfoh_12290
  %}</div></div></body>
</html>