---
pagination:
  data: squidex.queryAssets
  size: 1
collection: "Post"

---
{% assign state_ibkf8i_pagination = pagination %}
{% assign state_ibkf8i_items = pagination.items %}
{% assign state_ibkf8i_pages = pagination.pages %}<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/post-7b6d8841ccb132545f7a2677fe6c312259bb5cbc512c63021b871be6b7bbb79a.css" />
<!--  font google -->
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap" rel="stylesheet">
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const wrapper = document.querySelector('.cd-words-wrapper');
    const divs = wrapper.querySelectorAll(':scope > *');
    document.querySelectorAll('.cd-headline.slide b.is-visible:not(:first-of-type)')
      .forEach(el => el.classList.remove('is-visible'))
    let currentIndex = 0;
    console.log({
      wrapper, divs, currentIndex}
               )
    setInterval(function() {
      // Remove 'is-visible' class from current div
      divs[currentIndex].classList.remove('is-visible');
      // Move to the next div
      currentIndex = (currentIndex + 1) % divs.length;
      // Add 'is-visible' class to the new current div
      divs[currentIndex].classList.add('is-visible');
    }
                , 5000);
  }
                           );
</script>
<style>
  body,
  p,
  h1,
  h2,
  h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
  }
  .uppercase{
    text-transform: uppercase;
  }
  .link {
    text-decoration: none;
  }
  .nonunderline a, a.nonunderline{
    text-decoration: none;
  }
  h5, h6 {
    text-transform: uppercase;
  }
  img {
    height: 100%;
  }
  .z-index10 {
    z-index: 10;
  }
  .z-index-10 {
    z-index: -10;
  }
  /* for colors being applied to a, links*/
  .text-color-363063 *, .text-color-808080 *, a {
    color: inherit;
  }
  .bg-gradient {
    background: linear-gradient(-45deg, #FFF6FA, #ffffff);
  }
  /*BG+blueprint-pattern*/
  .bg-gradient-blue-pattern{
    background: url("/cms/assets/1101fc1c-0958-4238-83d1-37e4a1f9bf87.svg") center/auto repeat, linear-gradient(90deg, #1775CB, #1465AF);
  }
  /*CTA*/
  .cta{
    text-transform: uppercase;
    text-decoration: none;
    break-inside: avoid;
  }
  a.cta:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 100%;
    height: 2px;
    bottom: 10%;
    background-color: white;
    transition: height 0.2s ease-in-out, bottom 0.2s ease-in-out, width 0.2s ease-in-out;
  }
  a.cta:hover{
    z-index: 10;
    color: inherit;
  }
  a.cta:hover:after{
    position: relative;
    z-index: -1;
    padding:0 10px;
    margin:0 10px 0 -10px;
    bottom: 25px;
    height: 100%;
  }
  /*marche juste pour flex*/
  a.cta:hover:after{
    position: relative;
    z-index: -1;
    padding:0 10px;
    margin:0 10px 0 -10px;
    bottom: 25px;
    height: 100%;
  }
  /*CTA*/
  /*CTA-BTN*/
  .cta-btn {
    white-space: nowrap;
    break-inside: avoid;
    position: relative;
    text-transform: uppercase;
    border-radius:99px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  .cta-btn:after{
    content: "";
    position: absolute;
    z-index: -1;
    display: inline-block;
    border-radius:99px;
    width: 0%;
    height:0%;
    left:50%;
    transition: height 0.2s ease-in-out, bottom 0.2s ease-in-out, width 0.2s ease-in-out, left 0.2s ease-in-out;
  }
  .cta-btn:hover {
    color: inherit;
    z-index: 10;
  }
  .cta-btn:hover:after{
    width: 100%;
    height:100%;
    left:0;
    bottom:0;
    background-color: white;
  }
  /*CTA version colored*/
  a.cta.text-color-FF557A:after {
    background: linear-gradient(to right, #ff557a 0%, #FF6985 75%, #FFA2A2 100%);
  }
  /*CTA version colored*/
  /*CTA-BTN version colored*/
  .cta-btn.text-color-FF557A{
    background-image: linear-gradient(white, white), linear-gradient(to right, #72BEFB 0%, #8096F8 25%, #DD71BC 75%, #FF557A 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
  .cta-btn.text-color-FF557A.text-color-FFFBFC{
    background-image: linear-gradient(#fffafb, #fff9fb), linear-gradient(to right, #72BEFB 0%, #8096F8 25%, #DD71BC 75%, #FF557A 100%);
  }
  .cta-btn.text-color-FF557A:hover:after{
    background-image: linear-gradient(to right, #72BEFB 0%, #8096F8 25%, #DD71BC 75%, #FF557A 100%), linear-gradient(to right, #72BEFB 0%, #8096F8 25%, #DD71BC 75%, #FF557A 100%);
  }
  /*CTA-BTN version colored*/
  /*cta-btn-ico NETWORK*/
  .cta:hover, .cta-btn:hover, .cta-btn-ico:hover, .cta-btn-mini-ico:hover {
    transform: scale(1.1);
    transition: transform 0.2s cubic-bezier(0, -0.530, 0.405, 2.8);
  }
  a.cta-btn-ico .h5:after{
    content: "";
    position: relative;
    display: inline-block;
    width: 100%;
    height: 2px;
    bottom: 8px;
    background-color: white;
    transition: height 0.2s cubic-bezier(0, -0.530, 0.405, 1.8), bottom 0.2s cubic-bezier(0, -0.530, 0.405, 1.8), width 0.2s cubic-bezier(0, -0.530, 0.405, 1.8);
  }
  a.cta-btn-ico:hover .h5{
    color: inherit;
    z-index: 10;
    margin: 10px 0 -14px 0;
  }
  a.cta-btn-ico:hover .h5:after{
    position: relative;
    z-index: -1;
    padding:0 8px;
    margin:0 -5px 0 -10px;
    bottom: 20px;
    height: 22px;
  }
  a.cta-btn-ico .app-ico-cont .app-ico {
    transform: scale(0.85);
    transition: transform 0.2s cubic-bezier(0, -0.530, 0.405, 2.8);
  }
  a.cta-btn-ico:hover .app-ico-cont .app-ico {
    transform: scale(1.1);
  }
  /*cta-btn-ico NETWORK*/
  /*cta-btn-mini-ico*/
  a.cta-btn-mini-ico .app-ico{
    transform: scale(0.85);
    transition: transform 0.2s cubic-bezier(0, -0.530, 0.405, 2.8);
  }
  a.cta-btn-mini-ico:hover .app-ico{
    transform: scale(1.1);
  }
  /*cta-btn-mini-ico*/
  /*GRID*/
  /*avoid break column elements*/
  .grid-2 *,
  .grid-3 *,
  .grid-4 * {
    overflow: hidden;
    /* fix for Firefox */
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
  }
  .grid-2 {
    column-count: 2;
  }
  .grid-3 {
    column-count: 3;
    column-gap: 0;
  }
  .grid-4 {
    column-count: 4;
    column-gap: 0px;
  }
  @media (max-width: 992px) {
    .grid-2 {
      column-count: 1;
    }
  }
  @media (max-width: 768px) {
    .grid-3 {
      column-count: 1;
    }
  }
  .grid-gap {
    column-gap: 10rem;
  }
  /*GRID*/
  /*squares*/
  .square h4 {
    transition: color 0.2s ease-in-out;
  }
  .square:hover .h4 {
    color:#ff557a}
  .square:hover p {
    color:#363063}
  /*.multicolored-border*/
  .multicolored-border {
    background: linear-gradient(45deg, #F9F9F9, #ffffff) 50% 50%/calc(100% - 1%) calc(100% - 1%) no-repeat, linear-gradient(-45deg, #D9D9D9 0%, #D9D9D9 100%);
    transition: background 0.2s cubic-bezier(0, -0.530, 0.405, 2.8);
  }
  .multicolored-border:hover {
    background: linear-gradient(45deg, #FFF0F4, #ffffff) 50% 50%/calc(100% - 8%) calc(100% - 8%) no-repeat, linear-gradient(45deg, #72befb 0%, #8096f8 25%, #dd71bc 75%, #ff557a 100%);
    transition: background 0.2s cubic-bezier(0, -0.530, 0.405, 2.8);
    animation: gradient .5s linear infinite;
    animation-delay: 0.1s;
  }
  /*gradient animation*/
  @keyframes gradient {
    0% {
      background: linear-gradient(0deg, #FFF0F4, #ffffff) 50% 50%/calc(100% - 8%) calc(100% - 8%) no-repeat, linear-gradient(0deg, #72befb 0%, #8096f8 25%, #dd71bc 75%, #ff557a 100%);
    }
    50% {
      background: linear-gradient(0deg, #FFF0F4, #ffffff) 50% 50%/calc(100% - 8%) calc(100% - 8%) no-repeat, linear-gradient(180deg, #72befb 0%, #8096f8 25%, #dd71bc 75%, #ff557a 100%);
    }
    100% {
      background: linear-gradient(0deg, #FFF0F4, #ffffff) 50% 50%/calc(100% - 8%) calc(100% - 8%) no-repeat, linear-gradient(590deg, #72befb 0%, #8096f8 25%, #dd71bc 75%, #ff557a 100%);
    }
  }
  /*gradient animation*/
  /*ease-back animation*/
  .ease-back:hover p {
    transform: scale(1.1);
    transition: transform 0.2s cubic-bezier(0, -0.530, 0.405, 2.8);
  }
  /*ease-back animation*/
  /*squares*/
  /*ROTATING TITLES*/
  .cd-headline {
    line-height: 1.2;
    margin: 0 0 10px 0;
  }
  .cd-words-wrapper {
    display: inline-block;
    position: relative;
  }
  @media only screen and (max-width: 450px) {
    .cd-words-wrapper b {
      padding: 0;
    }
  }
  .cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    padding: 0.1rem 1.5rem;
    background-color: #FF557A;
    font-size:3.5rem!important;
  }
  @media (max-width: 480px) {
    .cd-words-wrapper b {
      white-space: initial;
    }
  }
  .cd-words-wrapper b.is-visible {
    position: relative;
  }
  .no-js .cd-words-wrapper b {
    opacity: 0;
  }
  .no-js .cd-words-wrapper b.is-visible {
    opacity: 1;
  }
  .cd-headline.slide span {
    display: inline-block;
    padding: .2em 0.5em;
  }
  .cd-headline.slide .cd-words-wrapper {
    overflow: hidden;
    vertical-align: top;
  }
  .cd-headline.slide b {
    opacity: 0;
    top: .2em;
  }
  .cd-headline.slide b.is-visible {
    top: 0;
    opacity: 1;
    -webkit-animation: slide-in 0.6s;
    -moz-animation: slide-in 0.6s;
    animation: slide-in 0.6s;
  }
  .cd-headline.slide b.is-hidden {
    -webkit-animation: slide-out 0.6s;
    -moz-animation: slide-out 0.6s;
    animation: slide-out 0.6s;
  }
  @-webkit-keyframes slide-in {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-100%);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateY(20%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
    }
  }
  @-moz-keyframes slide-in {
    0% {
      opacity: 0;
      -moz-transform: translateY(-100%);
    }
    60% {
      opacity: 1;
      -moz-transform: translateY(20%);
    }
    100% {
      opacity: 1;
      -moz-transform: translateY(0);
    }
  }
  @keyframes slide-in {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateY(20%);
      -moz-transform: translateY(20%);
      -ms-transform: translateY(20%);
      -o-transform: translateY(20%);
      transform: translateY(20%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @-webkit-keyframes slide-out {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
    }
    60% {
      opacity: 0;
      -webkit-transform: translateY(120%);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(100%);
    }
  }
  @-moz-keyframes slide-out {
    0% {
      opacity: 1;
      -moz-transform: translateY(0);
    }
    60% {
      opacity: 0;
      -moz-transform: translateY(120%);
    }
    100% {
      opacity: 0;
      -moz-transform: translateY(100%);
    }
  }
  @keyframes slide-out {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
    60% {
      opacity: 0;
      -webkit-transform: translateY(120%);
      -moz-transform: translateY(120%);
      -ms-transform: translateY(120%);
      -o-transform: translateY(120%);
      transform: translateY(120%);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
      -o-transform: translateY(100%);
      transform: translateY(100%);
    }
  }
  /*ROTATING TITLES*/
  /*FOOTER*/
  .footer-text a:hover{
    color:#ff557a}
  /*FOOTER*/
</style>

<title>{{ pagination.items[0].flatData.title }}</title>
<link rel="icon" href="{{url}}/assets/picto-silex@10x.svg" />
<meta name="description" property="description" content="{{ pagination.items[0].flatData.description }}"/>
<meta name="og:title" property="og:title" content="{{ pagination.items[0].flatData.title }}"/>
<meta name="og:description" property="og:description" content="{{ pagination.items[0].flatData.description }}"/>
<meta name="og:image" property="og:image" content=""/>
<link href="https://fonts.googleapis.com" rel="preconnect" ><link href="https://fonts.gstatic.com" rel="preconnect" crossorigin ><link href="https://fonts.googleapis.com/css?family=Ubuntu:regular&display=swap" rel="stylesheet" ></head>
{% liquid
    assign var_ibkf8i_7986 = state_ibkf8i_pages | first
	assign var_ibkf8i_7987 = var_ibkf8i_7986.id
    assign state_ibkf8i_ibkf8i-hotzlkg7hib = var_ibkf8i_7987
  %}<body id="ibkf8i" class=""></body>
</html>